In [1]:
import pandas as pd

## 2014

### scouts

In [2]:
players = pd.read_csv("../data/raw/2014_scouts_raw.csv")

In [6]:
players = players.loc[
    (players.Rodada > 0)
    & (players.Participou == 1)
]

players

,Atleta,Rodada,Clube,Participou,Posicao,Jogos,Pontos,PontosMedia,Preco,PrecoVariacao,...,PP,RB,FC,GC,CA,CV,SG,DD,DP,GS
1,36443,1,285.0,1,1.0,1,5.0,5.00,10.60,1.60,...,0,0,0,0,0,0,1,0,0,0
2,36443,2,285.0,1,1.0,2,-3.0,1.00,8.27,-2.33,...,0,0,0,0,0,0,0,0,0,2
3,36443,3,285.0,1,1.0,3,-2.6,-0.20,6.81,-1.46,...,0,0,0,0,0,0,0,0,0,1
4,36443,4,285.0,1,1.0,4,4.0,0.85,7.96,1.15,...,0,0,0,0,0,0,0,2,0,1
5,36443,5,285.0,1,1.0,5,5.0,1.68,8.61,0.65,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31559,89977,38,316.0,1,2.0,1,0.0,0.00,0.80,-0.20,...,0,0,0,0,0,0,0,0,0,0
31560,89694,38,292.0,1,5.0,1,0.5,0.50,1.05,0.05,...,0,0,0,0,0,0,0,0,0,0
31561,89932,38,265.0,1,5.0,1,0.5,0.50,1.05,0.05,...,0,0,0,0,0,0,0,0,0,0
31563,84794,38,293.0,1,4.0,1,0.9,0.90,1.24,0.24,...,0,1,1,0,0,0,0,0,0,0
31564,89815,38,285.0,1,4.0,2,1.0,0.25,1.00,0.19,...,0,0,0,0,0,0,0,0,0,0

In [7]:
players.columns

Index(['Atleta', 'Rodada', 'Clube', 'Participou', 'Posicao', 'Jogos', 'Pontos',
       'PontosMedia', 'Preco', 'PrecoVariacao', 'Partida', 'Mando', 'Titular',
       'Substituido', 'TempoJogado', 'Nota', 'FS', 'PE', 'A', 'FT', 'FD', 'FF',
       'G', 'I', 'PP', 'RB', 'FC', 'GC', 'CA', 'CV', 'SG', 'DD', 'DP', 'GS'],
      dtype='object')

In [23]:
columns_map = {
    "Atleta": "id_player", "Clube": "id_team", "Rodada": "round",
    "Posicao": "position", "Preco": "cartola_price", "PrecoVariacao": "cartola_price_update",
    "Pontos": "cartola_score", "PontosMedia": "cartola_score_mean", "A":"goal_assistance",
    "G": "scored_goals", "FD": "saved_kicks", "FF": "wrong_kicks", "FT": "crossbar_kicks",
    "PE": "wrong_passes", "PP": "missed_penalties", "RB": "stolen_ball",
    "DD": "difficult_gk_saves", "DP": "gk_penalty_saves", "GS": "conceded_goals"
}

final_cols = list(columns_map.values())

In [26]:
players = players.rename(columns=columns_map)[final_cols]
players.head()

,id_player,id_team,round,position,cartola_price,cartola_price_update,cartola_score,cartola_score_mean,goal_assistance,scored_goals,saved_kicks,wrong_kicks,crossbar_kicks,wrong_passes,missed_penalties,stolen_ball,difficult_gk_saves,gk_penalty_saves,conceded_goals
1,36443,285.0,1,1.0,10.60,1.60,5.0,5.00,0,0,0,0,0,0,0,0,0,0,0
2,36443,285.0,2,1.0,8.27,-2.33,-3.0,1.00,0,0,0,0,0,0,0,0,0,0,2
3,36443,285.0,3,1.0,6.81,-1.46,-2.6,-0.20,0,0,0,0,0,2,0,0,0,0,1
4,36443,285.0,4,1.0,7.96,1.15,4.0,0.85,0,0,0,0,0,0,0,0,2,0,1
5,36443,285.0,5,1.0,8.61,0.65,5.0,1.68,0,0,0,0,0,0,0,0,0,0,0

### Matches

In [28]:
matches = pd.read_csv("../data/raw/2014_matches.csv")

In [29]:
matches

,Unnamed: 0,game,round,date,home_team,score,away_team,arena,X
0,1,1,1,20/04/2014 - 18:30,Flamengo - RJ,0 x 0,GoiÃ¡s - GO,ManÃ© Garrincha - Brasilia - DF,NaN
1,2,2,1,19/04/2014 - 18:30,Fluminense - RJ,3 x 0,Figueirense - SC,MaracanÃ£ - Rio de Janeiro - RJ,NaN
2,3,3,1,20/04/2014 - 16:00,SÃ£o Paulo - SP,3 x 0,Botafogo - RJ,Morumbi - Sao Paulo - SP,NaN
3,4,4,1,20/04/2014 - 18:30,Santos - SP,1 x 1,Sport - PE,Vila Belmiro - Santos - SP,NaN
4,5,5,1,20/04/2014 - 16:00,Atletico - PR,1 x 0,GrÃªmio - RS,Orlando Scarpelli - Florianopolis - SC,NaN
...,...,...,...,...,...,...,...,...,...
375,376,376,38,07/12/2014 - 17:00,Cruzeiro - MG,2 x 1,Fluminense - RJ,MineirÃ£o - Belo Horizonte - MG,NaN
376,377,377,38,07/12/2014 - 17:00,VitÃ³ria - BA,0 x 1,Santos - SP,Manoel Barradas - Salvador - BA,NaN
377,378,378,38,07/12/2014 - 17:00,GrÃªmio - RS,1 x 1,Flamengo - RJ,Arena do GrÃªmio - Porto Alegre - RS,NaN
378,379,379,38,06/12/2014 - 16:30,Figueirense - SC,1 x 2,Internacional - RS,Orlando Scarpelli - Florianopolis - SC,NaN
379,380,380,38,07/12/2014 - 17:00,GoiÃ¡s - GO,4 x 2,Chapecoense - SC,Serra Dourada - Goiania - GO,NaN

In [30]:
matches.home_team.unique()

array(['Flamengo - RJ', 'Fluminense - RJ', 'SÃ£o Paulo - SP',
       'Santos - SP', 'Atletico - PR', 'AtlÃ©tico - MG', 'Bahia - BA',
       'Internacional - RS', 'Criciuma - SC', 'Chapecoense - SC',
       'Botafogo - RJ', 'Sport - PE', 'Corinthians - SP',
       'Palmeiras - SP', 'Coritiba - PR', 'Cruzeiro - MG', 'VitÃ³ria - BA',
       'GrÃªmio - RS', 'Figueirense - SC', 'GoiÃ¡s - GO'], dtype=object)

In [31]:
teams = pd.read_csv("../data/raw/2014_teams.csv")

In [39]:
teams

     ID           Nome Abreviacao           Slug
0   262       flamengo        FLA       flamengo
1   263       botafogo        BOT       botafogo
2   264    corinthians        COR    corinthians
3   265          bahia        BAH          bahia
4   266     fluminense        FLU     fluminense
5   275      palmeiras        PAL      palmeiras
6   276      sÃ£o paulo        SAO      sao-paulo
7   277         santos        SAN         santos
8   282    atlÃ©tico-mg        CAM    atletico-mg
9   283       cruzeiro        CRU       cruzeiro
10  284         grÃªmio        GRE         gremio
11  285  internacional        INT  internacional
12  287        vitÃ³ria        VIT        vitoria
13  288       criciÃºma        CRI       criciuma
14  290          goiÃ¡s        GOI          goias
15  292          sport        SPO          sport
16  293    atlÃ©tico-pr        CAP    atletico-pr
17  294       coritiba        CFC       coritiba
18  315    chapecoense        CHA    chapecoense
19  316    figueirense        FIG    figueirense

In [34]:
team_id_map = { 
    'Flamengo - RJ': 262, 'Fluminense - RJ': 266, 'SÃ£o Paulo - SP': 276,
    'Santos - SP': 277, 'Atletico - PR': 293, 'AtlÃ©tico - MG': 282, 'Bahia - BA': 265,
    'Internacional - RS': 285, 'Criciuma - SC': 288, 'Chapecoense - SC': 315,
    'Botafogo - RJ': 263, 'Sport - PE': 292, 'Corinthians - SP': 264,
    'Palmeiras - SP': 275, 'Coritiba - PR': 294, 'Cruzeiro - MG': 283, 'VitÃ³ria - BA': 287,
    'GrÃªmio - RS': 284, 'Figueirense - SC': 316, 'GoiÃ¡s - GO': 290
}

In [40]:
matches = matches.replace(team_id_map)
matches

,Unnamed: 0,game,round,date,home_team,score,away_team,arena,X
0,1,1,1,20/04/2014 - 18:30,262,0 x 0,290,ManÃ© Garrincha - Brasilia - DF,NaN
1,2,2,1,19/04/2014 - 18:30,266,3 x 0,316,MaracanÃ£ - Rio de Janeiro - RJ,NaN
2,3,3,1,20/04/2014 - 16:00,276,3 x 0,263,Morumbi - Sao Paulo - SP,NaN
3,4,4,1,20/04/2014 - 18:30,277,1 x 1,292,Vila Belmiro - Santos - SP,NaN
4,5,5,1,20/04/2014 - 16:00,293,1 x 0,284,Orlando Scarpelli - Florianopolis - SC,NaN
...,...,...,...,...,...,...,...,...,...
375,376,376,38,07/12/2014 - 17:00,283,2 x 1,266,MineirÃ£o - Belo Horizonte - MG,NaN
376,377,377,38,07/12/2014 - 17:00,287,0 x 1,277,Manoel Barradas - Salvador - BA,NaN
377,378,378,38,07/12/2014 - 17:00,284,1 x 1,262,Arena do GrÃªmio - Porto Alegre - RS,NaN
378,379,379,38,06/12/2014 - 16:30,316,1 x 2,285,Orlando Scarpelli - Florianopolis - SC,NaN
379,380,380,38,07/12/2014 - 17:00,290,4 x 2,315,Serra Dourada - Goiania - GO,NaN

In [42]:
a = "1 x 0"

In [44]:
def home_winner(score):
    score_list = score.split()
    home = int(score_list[0])
    away = int(score_list[2])
    
    if home > away:
        return True
    return False

matches["home_win"] = matches["score"].apply(lambda s: home_winner(s))
matches

,Unnamed: 0,game,round,date,home_team,score,away_team,arena,X,home_win
0,1,1,1,20/04/2014 - 18:30,262,0 x 0,290,ManÃ© Garrincha - Brasilia - DF,NaN,False
1,2,2,1,19/04/2014 - 18:30,266,3 x 0,316,MaracanÃ£ - Rio de Janeiro - RJ,NaN,True
2,3,3,1,20/04/2014 - 16:00,276,3 x 0,263,Morumbi - Sao Paulo - SP,NaN,True
3,4,4,1,20/04/2014 - 18:30,277,1 x 1,292,Vila Belmiro - Santos - SP,NaN,False
4,5,5,1,20/04/2014 - 16:00,293,1 x 0,284,Orlando Scarpelli - Florianopolis - SC,NaN,True
...,...,...,...,...,...,...,...,...,...,...
375,376,376,38,07/12/2014 - 17:00,283,2 x 1,266,MineirÃ£o - Belo Horizonte - MG,NaN,True
376,377,377,38,07/12/2014 - 17:00,287,0 x 1,277,Manoel Barradas - Salvador - BA,NaN,False
377,378,378,38,07/12/2014 - 17:00,284,1 x 1,262,Arena do GrÃªmio - Porto Alegre - RS,NaN,False
378,379,379,38,06/12/2014 - 16:30,316,1 x 2,285,Orlando Scarpelli - Florianopolis - SC,NaN,False
379,380,380,38,07/12/2014 - 17:00,290,4 x 2,315,Serra Dourada - Goiania - GO,NaN,True

In [47]:
h_team = matches[["home_team", "round"]].rename(columns={"home_team": "id_team"})
a_team = matches[["away_team", "round"]].rename(columns={"away_team": "id_team"})

team = pd.concat([h_team, a_team])
team

     id_team  round
0        262      1
1        266      1
2        276      1
3        277      1
4        293      1
..       ...    ...
375      266     38
376      277     38
377      262     38
378      285     38
379      315     38

[760 rows x 2 columns]

In [73]:
def get_opponent(row):
    id_team = row["id_team"]
    m_round = row["round"]
    
    all_teams = matches.loc[
        (matches["round"] == m_round)
        & (
            (matches.home_team == id_team)
            | (matches.away_team == id_team)
        ),
        ["home_team", "away_team"]
    ].values[0]

    if len(all_teams) != 2:
        raise Exception("many values for opponent")
        
    opponent = all_teams[0] if all_teams[1] == id_team else all_teams[0]
    
    return opponent


team["opponent"] = team.apply(lambda row: get_opponent(row), axis=1)

In [96]:
def is_home_team(row):
    id_team = row["id_team"]
    m_round = row["round"]
    
    home_team = matches.loc[
        (matches["round"] == m_round)
        & (matches.home_team == id_team)
    ].shape[0] == 1
    
    return home_team


team["was_home_team"] = team.apply(lambda row: is_home_team(row), axis=1)

In [106]:
def is_winner(row):
    id_team = row["id_team"]
    m_round = row["round"]
    
    home_team = row["was_home_team"]
    location = "home_team" if home_team else "away_team"
    
    winner = matches.loc[
        (matches["round"] == m_round)
        & (matches[location] == id_team),
        "home_win"
    ].values[0]
    
    return winner

team["has_won"] = team.apply(lambda row: is_winner(row), axis=1)

In [108]:
def get_date(row):
    id_team = row["id_team"]
    m_round = row["round"]
    
    date = matches.loc[
        (matches["round"] == m_round)
        & (
            (matches.home_team == id_team)
            | (matches.away_team == id_team)
        ),
        "date"
    ].values[0]
    
    return date

team["date"] = team.apply(lambda row: get_date(row), axis=1)

In [110]:
import datetime

In [129]:
list(team["date"])[0]

'20/04/2014 - 18:30'

In [139]:
team["timestamp"] = team.apply(
    lambda row: int(datetime.datetime.strptime(row["date"], '%d/%m/%Y - %H:%M').timestamp()),
    axis=1
)

In [151]:
team["date"] = team.apply(
    lambda row: datetime.datetime.strptime(row["date"], '%d/%m/%Y - %H:%M'),
    axis=1
)

In [161]:
team["week_day"] = team.apply(
    lambda row: row["date"].weekday(),
    axis=1
)

In [162]:
team

,id_team,round,opponent,was_home_team,has_won,date,timestamp,week_day
0,262,1,262,True,False,2014-04-20 18:30:00,1398029400,6
1,266,1,266,True,True,2014-04-19 18:30:00,1397943000,5
2,276,1,276,True,True,2014-04-20 16:00:00,1398020400,6
3,277,1,277,True,False,2014-04-20 18:30:00,1398029400,6
4,293,1,293,True,True,2014-04-20 16:00:00,1398020400,6
...,...,...,...,...,...,...,...,...
375,266,38,283,False,True,2014-12-07 17:00:00,1417978800,6
376,277,38,287,False,False,2014-12-07 17:00:00,1417978800,6
377,262,38,284,False,False,2014-12-07 17:00:00,1417978800,6
378,285,38,316,False,False,2014-12-06 16:30:00,1417890600,5
379,315,38,290,False,True,2014-12-07 17:00:00,1417978800,6